---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Analista de Gestión Ambiental",
    company: "Servicio Nacional de Pesca y Acuicultura (SERNAPESCA)",
    description:
      "Apoyo técnico en procesos de fiscalización ambiental, desarrollo de herramientas internas que mejoran los tiempos de análisis de inspecciones en centros acuícolas.",
  },
  {
    date: "2010 - 2013",
    title: "Jefe de Laboratorio",
    company: "ASISTEC S.A.",
    description:
      "Gestión de muestreos y procesamiento de datos de laboratorios ambientales. Implementación de soluciones digitales para mejorar eficiencia del equipo técnico.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
